<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
    <location path="index.php">
        <system.webServer>
            <staticContent>
                <mimeMap fileExtension=".php" mimeType="text/plain" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
